<div class="text-center">
  <h1 class="m-4">Welcome to Star Wars Top Trumps!</h1>
  <h3 class="m-4">Please choose a category:</h3>

  <div class="d-inline-flex">
    <div class="card">
      <div class="card-body bg-primary">
        <LinkTo @route="starships" @tagName="button" class="btn btn-lg btn-light font-weight-bold mr-4">
          Starships
        </LinkTo>
        <LinkTo @route="people" @tagName="button" class="btn btn-lg btn-light font-weight-bold">
          People
        </LinkTo>
      </div>
    </div>
  </div>
</div>